body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(./images/wallpaper.png);
	
	background-size: cover;
}

.box{
	width: 300px;
	padding: 30px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.4);
	text-align: center;
}

.box h1{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.box input[type="text"],.box input[type=password]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #fff;
	padding: 14px 10px;
    width: 220px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 270px;
	border-color: #fff;
}

.box input[type="submit"]{
	border: 0;
	background: none;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #fff;
	padding: 14px 10px;
	outline: none;
	color: #fff;
	border-radius: 24px;
	transition: 0.25px;
	cursor: pointer;
}

.box input[type="submit"]:hover{
	background: #fff;
}

.box input[type="text"]::placeholder,
.box input[type="password"]::placeholder {
    color: white; /* Change placeholder text color to white */
    opacity: 1; /* Ensure the opacity is set to 1 for better visibility */
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
